.wrapper {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 200px;
    background: #F5F9FF;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: left 0.25s, transform 0.25s;
    z-index: 1001;
    position: relative;
}

.linkList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-top: 44px;
}

.link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
    transition: color 0.2s;
}

.link.active {
    color: #4785F0;
    font-weight: 700;
}

.main {
    flex-grow: 1;
    padding: 20px;
}

.userPanel {
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 40px;
    border-top: 1px solid #ccc;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username {
    margin: 0 0 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.logoutButton {
    cursor: pointer;
    border-radius: 3px;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #F48625;
    transition: background 0.15s;
}

.logoutButton:hover {
    background: rgba(244,134,37,0.08);
}

.menuToggle {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    line-height: 1;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1002;
}

.overlay {
    display: none;
}
@media (max-width: 780px) {
    .wrapper {
        flex-direction: column;
    }
    .linkList {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding-top: 44px;
    }

    .main {
        padding: 12px;
    }

    .sidebar {
        position: fixed;
        left: -220px;
        top: 0;
        height: 100vh;
        width: 200px;
        box-shadow: 2px 0 8px rgba(0,0,0,0.2);
        background: #F5F9FF;
        transition: left 0.25s;
        z-index: 1000;
        padding-top: 0;
    }

    .open {
        left: 0 !important;
    }

    .menuToggle {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        left: 16px;
        top: 16px;
        z-index: 1000;
    }

    .overlay {
        display: block;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.2);
    }
}
